@charset "UTF-8";
body, li, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
   }
h1,h2,h3,h4,h5,h6,p,div,.heading,a,.work-item,.filtered{
 font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body {
  font-size: 16px;
  color: #2b2b2b;
  font-family: "微软雅黑",Arial, Helvetica, sans-serif; 
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

.row {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
  position: relative; }
  .row::after {
    content: '';
    display: block;
    clear: both; }

.small-1, .large-1, .small-2, .large-2, .small-3, .large-3, .small-4, .large-4, .small-5, .large-5, .small-6, .large-6, .small-7, .large-7, .small-8, .large-8, .small-9, .large-9, .small-10, .large-10, .small-11, .large-11, .small-12, .large-12 {
  float: left;
  position: relative; }

.text-align {
  text-align: center; }

.push-1 {
  right: 8.33333%; }

.push-2 {
  right: 16.66667%; }

.push-3 {
  right: 25%; }

.push-4 {
  right: 33.33333%; }

.push-5 {
  right: 41.66667%; }

.push-6 {
  right: 50%; }

.push-7 {
  right: 58.33333%; }

.push-8 {
  right: 66.66667%; }

.push-9 {
  right: 75%; }

.push-10 {
  right: 83.33333%; }

.push-11 {
  right: 91.66667%; }

.push-12 {
  right: 100%; }

.pull-1 {
  left: 8.33333%; }

.pull-2 {
  left: 16.66667%; }

.pull-3 {
  left: 25%; }

.pull-4 {
  left: 33.33333%; }

.pull-5 {
  left: 41.66667%; }

.pull-6 {
  left: 50%; }

.pull-7 {
  left: 58.33333%; }

.pull-8 {
  left: 66.66667%; }

.pull-9 {
  left: 75%; }

.pull-10 {
  left: 83.33333%; }

.pull-11 {
  left: 91.66667%; }

.pull-12 {
  left: 100%; }

.large-1 {
  width: 8.33333%;
  box-sizing: border-box; }

.large-2 {
  width: 16.66667%;
  box-sizing: border-box; }

.large-3 {
  width: 25%;
  box-sizing: border-box; }

.large-4 {
  width: 33.33333%;
  box-sizing: border-box; }

.large-5 {
  width: 41.66667%;
  box-sizing: border-box; }

.large-6 {
  width: 50%;
  box-sizing: border-box; }

.large-7 {
  width: 58.33333%;
  box-sizing: border-box; }

.large-8 {
  width: 66.66667%;
  box-sizing: border-box; }

.large-9 {
  width: 75%;
  box-sizing: border-box; }

.large-10 {
  width: 83.33333%;
  box-sizing: border-box; }

.large-11 {
  width: 91.66667%;
  box-sizing: border-box; }

.large-12 {
  width: 100%;
  box-sizing: border-box; }

@media screen and (max-width: 741px) {
  .small-1 {
    width: 8.33333%;
    box-sizing: border-box; }
  .small-2 {
    width: 16.66667%;
    box-sizing: border-box; }
  .small-3 {
    width: 25%;
    box-sizing: border-box; }
  .small-4 {
    width: 33.33333%;
    box-sizing: border-box; }
  .small-5 {
    width: 41.66667%;
    box-sizing: border-box; }
  .small-6 {
    width: 50%;
    box-sizing: border-box; }
  .small-7 {
    width: 58.33333%;
    box-sizing: border-box; }
  .small-8 {
    width: 66.66667%;
    box-sizing: border-box; }
  .small-9 {
    width: 75%;
    box-sizing: border-box; }
  .small-10 {
    width: 83.33333%;
    box-sizing: border-box; }
  .small-11 {
    width: 91.66667%;
    box-sizing: border-box; }
  .small-12 {
    width: 100%;
    box-sizing: border-box; } }

.columns {
  padding: 0 20px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 2000;
  text-align: center; }
  #header #checkbox {
    display: none; }
  #header label[for=checkbox] {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F06000;
    cursor: pointer;
    display: none; }
    #header label[for=checkbox] .h1, #header label[for=checkbox] .h2 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      #header label[for=checkbox] .h1 span, #header label[for=checkbox] .h2 span {
        width: 25px;
        height: 1px;
        border-top: 1px solid #FFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: transform .5s ease; }
    #header label[for=checkbox] .h1 span {
      transform: translateY(-4px); }
    #header label[for=checkbox] .h2 span {
      transform: translateY(4px); }
  #header #checkbox:checked ~ #menu {
    opacity: 1;
    height: 288px; }
  #header #checkbox:checked + label .h1 span {
    transform: rotate(45deg) translateY(0); }
  #header #checkbox:checked + label .h2 span {
    transform: rotate(-45deg) translateY(0); }
  #header #menu li {
    display: inline-block;
    padding: 0 20px;
    line-height: 48px;
    transition: color .3s ease;
    color: #fff;
    cursor: pointer; }
  #header #menu li:hover {
    color: #F06000; }
  #header #menu li.active {
    color: #F06000; }

@media screen and (max-width: 767px) {
  #header label[for=checkbox] {
    display: block; }
  #header #menu {
    width: 150px;
    height: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 48px;
    right: 0;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all .5s ease; }
    #header #menu li {
      display: block; }
 }

#home {
  background: url("../image/header-background.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  text-align: center; }
  #home::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  #home .banner {
    display: inline-block;
    vertical-align: middle;
    max-width: 1020px;
    width: 85%;
    padding-bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
    #home .banner .banner-text {
      width: 100%; }
      #home .banner .banner-text h1 {
        border: none;
        outline: none;
        background: none;
        font-size: 70px;
        color: #fff;
        margin-bottom: 70px;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
        font-weight: lighter;
        letter-spacing: 10px;
        transition: all .5s ease; }
      #home .banner .banner-text p {
        margin: 0 auto;
        width: 70%;
        color: #fff;
        line-height: 40px;
        transition: all .5s ease;
        font-size: 1.2em; }
      #home .banner .banner-text p.name {
        text-align: right; }
      #home .banner .banner-text hr {
        width: 60%;
        margin: 18px auto 24px auto;
        border: 1px solid rgba(150, 150, 150, 0.1); }

@media screen and (max-width: 767px) {
  #home {
    min-width: 320px; }
    #home .banner .banner-text h1 {
      font-size: 30px;
      margin-bottom: 30px; }
    #home .banner .banner-text p {
      font-size: 15px; } }

.title {
  margin: 0;
  color: #fff;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 18px;
  padding-left: 18px;
  transition: all .5s ease; }

.title-img {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 70px; }

@media screen and (max-width: 767px) {
  .title {
    font-size: 25px; }
  .title-img {
    margin-bottom: 20px; } }

#about {
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  background: #23232e; }
  #about .profile-pic {
  transition: all .5s ease;
  text-align: center;
}
    #about .profile-pic img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
       }
  #about .my-referral p {
    line-height: 30px;
    color: #7A7A7A;
    margin: 0 0 30px 0; }

@media screen and (max-width: 767px) {
  #about .profile-pic {
    padding-bottom: 20px; } }

#skills {
  padding: 95px 0 45px 0;
  background: url(../image/about-b.png) no-repeat top center;
  background-color: #2B2B2B;
  text-align: center; }
  #skills .skills {
    margin: 0 auto;
    float: none; }
    #skills .skills li {
      position: relative;
      margin-bottom: 50px;
      background: #ccc;
      height: 20px;
      border-radius: 3px; }
      #skills .skills li .bar-expand {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        background: #fff;
        display: inline-block;
        height: 20px;
        line-height: 42px;
        border-radius: 3px 0 0 3px;
        transition: width 2s ease;
        width: 0; }
      #skills .skills li em {
        font-size: 15px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: normal;
        position: absolute;
        top: -36px;
        left: 0; }

#skills.active .skills li .javascript {
  width: 90%; }

#skills.active .skills li .html5 {
  width: 80%; }

#skills.active .skills li .css3 {
  width: 79%; }

#skills.active .skills li .jquery {
  width: 80%; }

#skills.active .skills li .angular {
  width: 78%; }

@media screen and (max-width: 767px) {
  #skills .skills {
    padding-top: 50px; } }

#relation {
  padding: 85px 0 45px 0;
  background: url("../image/testimonials-bg.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  text-align: center;
  position: relative; }
  #relation .footer {
    width: 100%;
    padding-top: 100px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0; }
    #relation .footer a {
      display: inline-block;
      transform: rotate(180deg) translateY(80px); }
      #relation .footer a::after {
        position: relative;
        z-index: 100;
        content: '\e632';
        display: block;
        font-family: 'iconfont';
        font-size: 45px;
        text-align: center;
        line-height: 42px;
        color: #FFF;
        transition: color .3s ease; }
      #relation .footer a:hover::after {
        color: #F06000; }
  #relation .relation-content {
    display: inline-block;
    float: none;
    vertical-align: top; }
    #relation .relation-content .img {
      display: inline-block;
      width: 120px;
      height: 130px;
      border: 1px solid #fff;
      padding: 10px;
      box-sizing: border-box; }
      #relation .relation-content .img img {
        width: 100%; }
      #relation .relation-content .img div {
        color: #999;
        font-size: 12px; }
    #relation .relation-content p {
      color: #fff; }
    #relation .relation-content .lianxi {
      padding-left: 40px;
      vertical-align: top;
      display: inline-block;
      text-align: left; }

.section {
  position: relative;
  box-sizing: border-box; }

#page-work .filter-link {
  font-family: "微软雅黑"; }

#page-work .h-02 {
  font-family: "微软雅黑";
  letter-spacing: 2px; }

#page-work .copy-03 {
  font-family: '微软雅黑'; }

body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "微软雅黑",arial;
}
ul li{
  list-style: none;
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container-fluid:nth-child(1){
  background: rgba(0,0,0,0.7);
  transition:background .6s;
}
.min-nav{
  width: 100%;
  height: 44px;
}
.min-navs{
  width: 100%;
  height: 44px;
  text-align: justify;
}
.min-navs:after{
  content: "";
  display: inline-block;
  width: 100%;
}
.nav-span{
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 7px;
}
.nav-span span{
  width: 60%;
  display: inline-block;
  border-top: 1px solid #fff;
  transition:all .3s;
}
.nav-span span:nth-child(1){
  margin-top:17px;
}

.nav-span#active span:nth-child(1){
  transform:translateY(4px) rotate(135deg);
}
.nav-span#active span:nth-child(2){
  transform:translateY(-4px) rotate(45deg);
}

.nav-shopping,.nav-log,.nav-sousuo{
  display: inline-block;
  font-size: 20px;
  color: #fff;
}

.min-nav ul{
  background: #000;
      margin-left: -15px;
    margin-right: -15px;
    padding-left: 30px;
    padding-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition:height .6s;  
}
.min-nav ul li{
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #333333;
  color: #fff;
  font-size: 20px;
  line-height: 47px;
}
.max-nav{
  max-width: 978px;
  height: 44px;
  margin: 0 auto;
  text-align: justify;
}
.max-nav:after{
  content: "";
  display: inline-block;
  width: 100%;
}
.max-nav a{
  display: inline-block;
  line-height: 44px;
  color: #fff;
  height: 44px;
  font-size: 16px;
  transition:opacity .3s;
}
.max-nav a:hover{
  opacity: 0.6;
}
.min-block{
  display: block;
}
.max-block{
  display: none;
}

@media screen and (min-width: 768px){
  .min-display{
    display: none;
  }
  .max-display{
    display: block;
  }
}
.container-fluid{
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  z-index: 2000;
}

