.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: auto;
  display: block;
}
.container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
  display: block;
  height: auto;
}
.row {
  margin-left: -15px !important;
  margin-right: -15px !important;
  height: auto;
  display: block;
}
.row:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}
[class*=col-] {
  display: block;
  float: left;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.row .col-xs-1 {
  width: 8.33333333%;
}
.row .col-xs-2 {
  width: 16.66666667%;
}
.row .col-xs-3 {
  width: 25%;
}
.row .col-xs-4 {
  width: 33.33333333%;
}
.row .col-xs-5 {
  width: 41.66666667%;
}
.row .col-xs-6 {
  width: 50%;
}
.row .col-xs-7 {
  width: 58.33333333%;
}
.row .col-xs-8 {
  width: 66.66666667%;
}
.row .col-xs-9 {
  width: 75%;
}
.row .col-xs-10 {
  width: 83.33333333%;
}
.row .col-xs-11 {
  width: 91.66666667%;
}
.row .col-xs-12 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    widows: 768px;
  }
  .row .col-sm-1 {
    width: 8.33333333%;
  }
  .row .col-sm-2 {
    width: 16.66666667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33333333%;
  }
  .row .col-sm-5 {
    width: 41.66666667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33333333%;
  }
  .row .col-sm-8 {
    width: 66.66666667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33333333%;
  }
  .row .col-sm-11 {
    width: 91.66666667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    widows: 1024px;
  }
  .row .col-md-1 {
    width: 8.33333333%;
  }
  .row .col-md-2 {
    width: 16.66666667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.33333333%;
  }
  .row .col-md-5 {
    width: 41.66666667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.33333333%;
  }
  .row .col-md-8 {
    width: 66.66666667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.33333333%;
  }
  .row .col-md-11 {
    width: 91.66666667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    widows: 1200px;
  }
  .row .col-lg-1 {
    width: 8.33333333%;
  }
  .row .col-lg-2 {
    width: 16.66666667%;
  }
  .row .col-lg-3 {
    width: 25%;
  }
  .row .col-lg-4 {
    width: 33.33333333%;
  }
  .row .col-lg-5 {
    width: 41.66666667%;
  }
  .row .col-lg-6 {
    width: 50%;
  }
  .row .col-lg-7 {
    width: 58.33333333%;
  }
  .row .col-lg-8 {
    width: 66.66666667%;
  }
  .row .col-lg-9 {
    width: 75%;
  }
  .row .col-lg-10 {
    width: 83.33333333%;
  }
  .row .col-lg-11 {
    width: 91.66666667%;
  }
  .row .col-lg-12 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .xs-display {
    display: none;
  }
  .xs-block {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sm-display {
    display: none;
  }
  .sm-block {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .md-display {
    display: none;
  }
  .md-block {
    display: block;
  }
}
[center-block] {
  display: block;
  margin: 0 auto;
}
[center-text] {
  text-align: center;
}
[img-respones] {
  max-width: 100%;
}
